*{
    margin:0;
    padding: 0;
}.drops{
    border-bottom:1.5px solid #c3c6ca;
}

.items {
    display: flex;
    
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding:0 20px;
    
    color: black;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
}
.items ul{
    display: flex;
    margin:10px 25px;
    align-items: center;
}
.Productbox{
    display: flex;
    /* align-items: center; */
    /* align-items: flex-start; */
    
    background-color: rgb(255, 255, 255);
    height: 2000px;
    width: 1360px;
    
}

.container2{
    display: flex;
    
    padding:0 20px;
    /* padding: 100px; */
    justify-content: center;
    background-color: rgb(227, 227, 227);
    height: 2000px;
}

.sideimg{
    display: flex;
   
    flex-direction: column;
    margin: 20px 0px 20px 10px;
    width: 120px;
    height: 1090px;
}
.sideimg img{
    border: 1px solid rgb(233, 229, 229);
   
    padding: 10px;
    
}
.bigimg{
    border: 1px solid rgb(233, 229, 229);
    width:auto;
    height: 348px;
    margin: 20px 0px;
}
.bigimg img{
    /* background-color: rgb(167, 30, 30); */
     padding: 100px;
     
     
 }
 .loc{
    height: 18px;
    /* border: 1px solid black; */
    padding: 1px;
    color: #c3c6ca;
    
 }
 .loc a{
   
    font-size: small;
    color: #888b8e;
    
 }
 .info{
    display:flex ;
    flex-direction: column;
    /* background-color: rgb(206, 15, 15); */
    
    height: 1000px;
    padding: 15px;
 }
 .name{
    margin: 5px 0;
    font-family: roboto;
    font-weight: normal;
 }
 .star_n_rate{
    display: flex;
    margin: 5px 0;
 }

 .star{
   box-sizing: content-box;
   padding: 2px;
   color: white;
   background-color: rgb(1, 151, 11);
 } 
 .rate{
color: #aeb0b3;
margin: 0px 10px;
font-size: 17px;
font-weight: 600;
 }
 .price{
    display: flex;
    margin-top: 20px;
    align-items: center;
    
 }
 #curr{
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;

 }
 #original{
    font-size: 18px;
    text-decoration: line-through;
    color: #aeb0b3;
    margin-right: 15px;
 }
 #discount{
    color:rgb(1, 151, 11);
 }

 .Available_offers{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: large;
    
 }
 .offerList{
    display: flex;
    margin-top: 10px;
    align-items: center;
    list-style-type: none;
 }
 .offer1{
    color: black;
    font-size: 14px;
    
 }
 
 .Bo{
    margin: 0 5px 0 10px;
    font-weight: 800;
    font-size: 15px;
 }